# Data files
*.pbf
*.osm
*.poly
*.tif
*.gpkg
tiles
.tile-cache
demo-website/dist

# Rendered maps
*.pdf
*.png
*.jpg
rendered-maps

# Legend and preprocessing files
legend.html
.tmp

# Other things to ignore
.idea
.run
