# Data files
*.pbf
*.osm
*.poly
*.tif
*.gpkg
tiles
.tile-cache
demo-website/dist

# Project files
*.qgs~
*.db
.env
*_attachments.zip

# Rendered maps
*.pdf
*.png
*.jpg
rendered-maps

# Other things to ignore
.idea
.run
